<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
       Admin Panel
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link"  href="">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link"  href="./addUser">
              <i class="material-icons">person</i>
              <p>Add Users</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/editUser">
              <i class="material-icons">person</i>
              <p>Edit Users</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <h2 class="navbar-brand" >Add New User</h2>
          </div>
        
          <div class="collapse navbar-collapse justify-content-end">
            
            <ul class="navbar-nav">
            
           
              <li class="nav-item">
                <a class="nav-link" href="">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card" >
                <div class="card-header card-header-primary" style="background-color:#15224a" >
                  <h3 class="card-title" >Add New User</h3>
                
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">FirstName </label>
                          <input type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Surname</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="password" class="form-control">
                        </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Company</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Role</label>
                            <select class="form-control" id="selectt">
                              <option>User</option>
                              <option>Admin</option>
                              <option>SuperAdmin</option>
                              
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                     
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Location</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Assets</label>
                            <div>
                              <label class="checkbox-inline"><input type="checkbox" value="">Add Assets</label>
                              <label class="checkbox-inline"><input type="checkbox" value="">Delete Assets</label>
                            
                            </div>
                          </div>
                        </div>
                    </div>
                    <br>
                    <div class>
                     
                    </div>
                    <div class>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Vehicles</label>
                          <div>
                            <label class="checkbox-inline"><input type="checkbox" value="">All vehicles</label>
                            <label class="checkbox-inline"><input type="checkbox" value="">Only the vehicles of the specific area </label>
                          
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Events</label>
                          <div>
                          <label class="checkbox-inline"><input type="checkbox" value="">Accidents</label>
                          <label class="checkbox-inline"><input type="checkbox" value="">Incidents</label>
                          <label class="checkbox-inline"><input type="checkbox" value="">Congestion</label>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                      
                      </div>
                    </div>
                <div>
                  <br>
                  <br>
                    <button type="button" class="btn btn-primary pull-right" ><h4>CREATE USER</h4></button> </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
     
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartis.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>

</body>

</html>