<div id="menu-container" class="show-row">
  <div id ="total-line" ></div>
  <div id ="float-left" class="show-row">
    <div id ="square-left">
        <a href = "#">
          <img src = "../../../assets/markers /logo.svg" class = "logo">
        </a>
    </div>
    <div id = "triangle-topleft"></div>
  </div>
  <div id ="float-right" class="show-row">
    <div id = "triangle-topright"></div>
    <div id ="square-right">
      <div class="menu-elements">
          <button class="menu-elements"><img src = "../../../assets/markers /settings.svg" class = "logo"></button>
        <div class="tooltip-div" >
          <span  class = "triangle-up"></span>
          <span class= "tooltip-text">test2</span>
        </div>
      </div>
      <div class="menu-elements">
          <button class="menu-elements"><img src = "../../../assets/markers /gear.svg" class="logo"></button>
          <div class="tooltip-div" >
            <span  class = "triangle-up"></span>
            <span class= "tooltip-text">test1</span>
          </div>
        </div>
        <div class="menu-elements">
            <button class="menu-elements"><img src = "../../../assets/markers /user.svg" class = "logo"></button>
            <div class="tooltip-div" >
              <span  class = "triangle-up"></span>
              <span class= "tooltip-text">test3</span>
            </div>
          </div>
          <div class="menu-elements">
            <button class="menu-elements"><img src = "../../../assets/markers /language.svg" class = "logo"></button>
              <div class="tooltip-div" >
                <span  class = "triangle-up"></span>
                <span class= "tooltip-text">test4</span>
              </div>
            </div>
    </div>
  </div>
</div>

