<div id = "all-menu">

  <div class="container-menu hidden">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Assets</a></li>
      <li><a data-toggle="tab" href="#menu1">Events</a></li>
      <li><a data-toggle="tab" href="#menu2">Vehicles</a></li>
    </ul>

    <div class="search-container">
      <form class="form-inline">
        <input class="form-control" type = "text" id = "search-criteria" />
        <a  class= "btn btn-link" id = "search-button"><i class="fa fa-search"></i></a>
      </form>
    </div>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>

      <!-- other things to be added here -->

    </div>
  </div>
  <div id="sidebar-visibility-div">
    <div id="top-triangle"></div>
    <button id="middle-square" (click)="toggleButton()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <div id="bottom-triangle"></div>
  </div>

</div>

<script>
  $(document).ready(function(){
    $("#middle-square").on("click",function(e){
      $("#container-menu").hide(1000);
      console.log("hahahahhahhaha");
    })  
  
  })
</script>